# Web Framework & Server
fastapi==0.111.0
uvicorn==0.30.1
python-multipart==0.0.9
pydantic==2.7.3

# Document Processing & OCR
PyMuPDF==1.24.5      # For fitz (Digital extraction)
pytesseract==0.3.10  # Google Tesseract wrapper (Scanned fallback)
Pillow==10.3.0       # Image processing for OCR

# AI Models & Logic
chromadb==0.5.0      # Local Vector Database for RAG
groq==0.8.0          # Llama-3 API client
sarvamai==0.1.0      # Official Indic language translation SDK
